mixin login-content()
	section.login-content
		.login__logo

		.login__msg Guest Access. Enter password to view this collection.

		form(action="" method="").login-form
			input(type="password" value="").login-form__element
			input(type="submit" value="Enter").login-form__submit