mixin blog-content()
	section.blog-content
		h1 MARIA&ROBERT

		p I would imagine no one ever forgets Maria. She is magnetic and mysterious, intriguing, kind and warm-hearted, and a true original.
		p As a designer with one of the most interesting interior design firms I’ve ever seen – Erin Martin Design in St. Helena, CA – unique design seems to be a part of every aspect of her life, and this carried over seamlessly into her wedding.
		p Maria and Robert chose the de Young Museum in San Francisco at her mother’s urging. “We are big fans of the arts, but the dramatic architecture of the building was the clincher,” Maria said. “The reception in the tower needed to be fun, and the dinner in the gallery needed to be dramatic but intimate.”
		p I asked Maria about her dress and reception ensemble, because I knew you all would want to know too. Her wedding dress is Carolina Herrera, and her (absolutely amazing) party outfit is by Dolce & Gabbana. I’ve never seen anything like it at a wedding, and I just loved her style choices all around. “The thought was to be romantic with a flirty vibe,” Maria said.
		p I’d say she achieved her goal. This wedding showed honest, deep emotion, happiness bursting at the seams, style, drama and romance. We feel very lucky to have been there to witness it all.
		
		.blog-content-meta
			span.blog-content-meta__title Authored by:
			| ERIN

		.blog-content-reviews
			.blog-content-reviews__title 3 COMMENTS

			.blog-content-reviews__list
				.blog-content-reviews-item
					.blog-content-reviews-item__author Lanny Mann 
					.blog-content-reviews-item__date August 26, 2015
					.blog-content-reviews-item__text Ryan, this is crazy good, man! Nice work.
				.blog-content-reviews-item
					.blog-content-reviews-item__author Lanny Mann 
					.blog-content-reviews-item__date August 26, 2015
					.blog-content-reviews-item__text Ryan, this is crazy good, man! Nice work.
				.blog-content-reviews-item
					.blog-content-reviews-item__author Lanny Mann 
					.blog-content-reviews-item__date August 26, 2015
					.blog-content-reviews-item__text Ryan, this is crazy good, man! Nice work.

		.blog-content-reviews-form
			.blog-content-reviews-form__title ADD A COMMENT

			fomr(method="" action="").form
				input(type="text" value="" placeholder="Name").form__element
				input(type="text" value="" placeholder="Email").form__element
				input(type="text" value="" placeholder="Website").form__element
				textarea.form__element.form__element--textarea
				input(type="submit" value="Add").form__submit