mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__list
			.top-menu__item.active
				a(href="#" title="") HOME
			.top-menu__item 
				a(href="#" title="") PHOTOGRAPHERS
				.top-menu-drop
					a(href="#" title="").top-menu-drop__item Ben Chrisman
					a(href="#" title="").top-menu-drop__item Erin Chrisman
					a(href="#" title="").top-menu-drop__item Mauricio Arias
					a(href="#" title="").top-menu-drop__item Joseph Victor Stefanchik
					a(href="#" title="").top-menu-drop__item Ryan Zhang
					a(href="#" title="").top-menu-drop__item Vlad Chaloupka
			.top-menu__item 
				a(href="#" title="") WEDDINGS
			.top-menu__item 
				a(href="#" title="") AWWARDS
			.top-menu__item 
				a(href="#" title="") BLOG
			.top-menu__item 
				a(href="#" title="") PROOFS
			.top-menu__item 
				a(href="#" title="") CONTACT