mixin top-menu()
	nav.top-menu
		.top-menu__mobile Menu
		.top-menu__list
			.top-menu__item.active
				a(href="#" title="") HOME
			.top-menu__item 
				a(href="/photographer.html" title="") PHOTOGRAPHERS
				.top-menu-drop
					a(href="/portfolio.html" title="").top-menu-drop__item Ben Chrisman
					a(href="/portfolio.html" title="").top-menu-drop__item Erin Chrisman
					a(href="/portfolio.html" title="").top-menu-drop__item Mauricio Arias
					a(href="/portfolio.html" title="").top-menu-drop__item Joseph Victor Stefanchik
					a(href="/portfolio.html" title="").top-menu-drop__item Ryan Zhang
					a(href="/portfolio.html" title="").top-menu-drop__item Vlad Chaloupka
			.top-menu__item 
				a(href="/portfolio.html" title="") WEDDINGS
			.top-menu__item 
				a(href="/awwards.html" title="") AWWARDS
			.top-menu__item 
				a(href="/portfolio.html" title="") BLOG
			.top-menu__item 
				a(href="/proofs.html" title="") PROOFS
			.top-menu__item 
				a(href="/contact.html" title="") CONTACT