mixin footer(data)
	footer.footer
		a(href="#" title="").footer__item SITEMAP
		.footer__item © 2015 CHRISMAN STUDIOS
		a(href="#" title="").footer__item INFO@CHRISMANSTUDIOS.COM
		.footer__item
	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='http://yastatic.net/jquery/1.11.2/jquery.min.js')
	script(src='%=staticPrefix=%js/separate-js/slick.min.js')
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')