mixin awwards-content()
	section.awwards-content
		h1 AWARDS

		- for (var i = 0; i < 30; i++) {
		.awwards-content__item
			img(src="%=staticPrefix=%images/content/logo.png" alt="")
			blockquote Top 10 Photographers of the Year
			p  FEARLESS PHOTOGRAPHERS
			p BEN CHRISMAN, 2015
		- }