mixin main-content()
	section.main-content
		h1 WELCOME TO UTESHBEKOV STUDIOS

		img(src="%=staticPrefix=%images/content/1.jpg" width="350" alt="" align="left")

		p Chrisman Studios is a boutique of five photographers and one videographer that specializes in creative documentary wedding photography and films. We are dedicated to giving you photographs that will blow your mind, make your parents proud and your friends jealous.

		p We are based in Charleston, San Francisco, Rosemary Beach and Santa Fe, but our weddings have taken us to Iceland, Spain, Mexico, Mongolia, Bali, Jamaica, Bhutan, Italy, Costa Rica, Canada, Bermuda, Venezuela, Colombia, Puerto Rico, Greece, Turks and Caicos, England, Israel, Guatemala and on an island off the coast of Maine so remote it required four different modes of transportation to get there. So whether your wedding is on an exotic beach or in your parents’ backyard, we would love to be there for you.