.main-content {
	width: 75%;
	@media screen and (max-width: 960px) {
		width: 100%;

		order: 1;
	}
	h1 {
		@extend .title;
	}
	img {
		line-height: 0;
		&[align="left"] {
			margin-right: 20px;
			margin-bottom: 10px;
		}
		@media screen and (max-width: 960px) {
			width: 100%;
			margin: 0;
		}
	}
	p {
		font-size: em(16px);
		line-height: em(21px);
		@media screen and (max-width: 960px) {
			padding: 0 10px;
		}
	}
}
