mixin check()
	.check
		.check__title Check Your Date

		form(method="" action="").form
			input(type="text" value="" placeholder="Name").form__element
			input(type="text" value="" placeholder="Email").form__element
			input(type="text" value="" placeholder="Event Date").form__element
			input(type="text" value="" placeholder="Location").form__element
			input(type="submit" value="Send").form__submit