mixin blocks-bottom()
	section.blocks-bottom
		.blocks-bottom-item
			.blocks-bottom-item__title DESTINATIONS
			a(href="#" title="").blocks-bottom-item__link Charleston Weddings
			a(href="#" title="").blocks-bottom-item__link New York Weddings
			a(href="#" title="").blocks-bottom-item__link California Weddings
			a(href="#" title="").blocks-bottom-item__link Florida Weddings
			a(href="#" title="").blocks-bottom-item__link Mexico Weddings

		.blocks-bottom-item
			.blocks-bottom-item__title VENUES
			a(href="#" title="").blocks-bottom-item__link Hacienda Cerritos Weddings
			a(href="#" title="").blocks-bottom-item__link La Posada Resort Weddings
			a(href="#" title="").blocks-bottom-item__link One and Only Palmilla Weddings
			a(href="#" title="").blocks-bottom-item__link Casa China Blanca Weddings
			a(href="#" title="").blocks-bottom-item__link Hacienda Uayamon Weddings

		.blocks-bottom-item
			.blocks-bottom-item__title SETTINGS
			a(href="#" title="").blocks-bottom-item__link Beach Weddings
			a(href="#" title="").blocks-bottom-item__link Vineyard Weddings
			a(href="#" title="").blocks-bottom-item__link Southern Weddings
			a(href="#" title="").blocks-bottom-item__link Winter Weddings
			a(href="#" title="").blocks-bottom-item__link Barn Weddings

		.blocks-bottom-item
			.blocks-bottom-item__title TYPES
			a(href="#" title="").blocks-bottom-item__link Jewish Weddings
			a(href="#" title="").blocks-bottom-item__link Persian Weddings
			a(href="#" title="").blocks-bottom-item__link Greek Weddings
			a(href="#" title="").blocks-bottom-item__link Indian Weddings
			a(href="#" title="").blocks-bottom-item__link Same-Sex Weddings