.blocks-bottom {
	display: flex;

	margin-top: 40px;

	align-items: flex-start;
	@extend .wrapper;
	justify-content: space-between;

	@media screen and (max-width: 960px) {
		flex-wrap: wrap;
	}
}

.blocks-bottom-item {
	width: 23%;

	text-align: center;

	@media screen and (max-width: 960px) {
		width: 49%;
		margin-bottom: 25px;
	}
	@media screen and (max-width: 480px) {
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	&__title {
		border-bottom: 1px solid #eee;
	}
	&__link {
		display: block;

		margin-top: 8px;

		text-decoration: none;

		color: #666;

		font-size: em(14px);
		&:hover {
			color: #f90d1b;
		}
	}
}
