include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../slider/slider
include ../sidebar/sidebar
include ../check/check
include ../awwards/awwards
include ../main-content/main-content
include ../blocks-bottom/blocks-bottom
include ../footer/footer