mixin header()
	header.header
		a(href="#" title="").header__logo
		.header-language
			a(href="#" title="").header-language__item Russian
			a(href="#" title="").header-language__item.active English
		+top-menu()